#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.listReset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
.modalRecipe {
  position: relative;
  z-index: 11;
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
  padding: 35px 35px 60px 35px;
  padding-top: 65px;
  background-color: white;
  top: 50%;
  transform: translate(0, -50%);
}
.recipeList {
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
}
.recipeItem {
  padding: 20px;

  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
    
}
.descItem {
  font-weight: bold;
  text-align: left;
}
.flexBlock {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}
.spanUnit {
  margin: 0 10px;
  text-wrap: nowrap;
}
.btndelete {
  padding: 0px 7px 4px 7px;
  margin-left: 10px;
}
.btnUpdate {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
}
.btnadd {
  padding: 0px 7px 4px 7px;
  margin-left: 10px;
}
.labelModal {
  text-wrap: nowrap;
  margin-right: 10px;
}
.inputModal {
  padding: 5px;
  width: 100%;
}
.inputModal.first {
  margin-right: 10px;
}
.backModal {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 0.2);
  z-index: 10;
}
.backModal.active {
  display: block;
}
.ingredientsList {
  list-style-type: none;
  font-size: 15px;
}
.ingredientsList span {
  font-weight: 600;
}
.btnEdit {
  margin-right: 15px;
}
.btn {
  background-color: #606060;
  color: white;
}
.searchInput {
  margin-right: 15px;
  padding: 5px;
}
.searchLabel {
  margin-right: 10px;
}
.btnClose {
  position: absolute;
  right: 35px;
  top: 35px;
  padding: 0px 7px 4px 7px;
}
.ingredientsItem {
  display: flex;
  margin-bottom: 10px;
}
.ingredientsList {
  width: 100%;
}
.ingredientsList .ingredientsItem input:last-child {
  width: 45%;
}
.ingredientsList .ingredientsItem span {
  white-space: nowrap;
  margin: 0 10px;
}
.inputNewIngredient {
  display: none;
}
.inputNewIngredient.active {
  display: block;
}
.popularIngredientsList{
  position: absolute;
}
.popularIngredientsToggle {

}

.popularIngredientsList {
  display: none
}
.popularIngredientsList.active {
  display: block;
}

@media(max-width: 600px) {
  .recipeList {
    grid-template-columns: 1fr;
  }
  .flexBlock {
    display: block;
  }
  .labelModal {
    margin-right: 0;
  }
  .spanUnit {
    display: none;
  }
  .modalRecipe {
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(0px, 0px);
  }
}