#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 10px 100px 10px;
  text-align: center;
  background-color: #000;
}
:root {
    --gray: #242831;
}
.btn-reset {
  background-color: initial !important;
  outline: none;
}
.btn-reset:focus, .btn-reset:active, .btn-reset:hover  {
  background-color: initial !important;
  outline: none;
}
.modalOpen {
  overflow: hidden;
}
.ml-5px {
  margin-left: 5px;
}
.mr-5px {
  margin-right: 5px;
}
.mb-10px {
  margin-bottom: 5px;
}
.ml-15px {
  margin-left: 10px;
}
.ml-5px {
  margin-left: 15px;
}
.mb-15px {
  margin-bottom: 15px;
}
.mr-15px {
  margin-right: 15px;
}
.mt-15px {
  margin-top: 15px;
}
.ml-15 {
  margin-left: 15px;
}
.j-center{
  justify-content: center;
}
.listReset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.searchInput {
  max-width: 500px;
  width: 100%;
}
.btnAllMenu i {
  color: #7f7f7f;
  font-size: 25px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
.modalRecipe {
  position: fixed;
  z-index: 11;
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
  padding: 35px ;
  padding-top: 65px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  max-height: 80vh;
}
.btnAddRecipeMain {
  margin-left: 15px;
  width: 100%;
  padding: 10px !important;
  border-radius: 15px;
}
.modalUserProfile {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  padding: 15px;
  transform: translate(-50%, -50%);
  z-index: 40;
  background-color: #555555;
  border-radius: 15px;
}
.modalUserProfile.show {
  display: block;
}
.recipeList .recipeList {
  min-height: 75px;
}
.recipeList {
  padding: 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  transition: all 0.3s ease-in-out;
  background: var(--gray);
  border-radius: 15px;
}
.headerRecipeItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipeItemTitle {
  font-size: 15px;
}
.descItem {
  margin-right: 5px;
}
.recipeItemProductsBlock {
  padding: 15px;
  border-radius: 15px;
  background-color: var(--gray);
}
.recipeItem {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    /* box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1); */
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    background: #000;
    border-radius: 15px;
    color: white;
}
.recipeItem.active {
  max-height: 50px;
  overflow: hidden;
  padding: 0 20px;
  transition: all 0.3s ease-in-out;
}
.recipeItem i {
  color: white
}
.descItem {
  font-weight: bold;
  text-align: left;
}
.flexBlock {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}
.spanUnit {
  margin: 0 10px;
  text-wrap: nowrap;
}
.btndelete {
  padding: 0px 7px 4px 7px;
  margin-left: 10px;
}
/* .btnUpdate {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
} */
.btnadd {
  padding: 0px 7px 4px 7px;
  margin-left: 10px;
}
.inputEmail, .inputPass {
  width: 100%;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #898989;
  padding: 5px;
  padding-bottom: 10px;
  font-size: 16px;
}
.LoginForm h2 {
  margin-bottom: 60px;
}
.labelEmail, .labelPass {
  position: absolute;
  top: 9px;
  left: 20px;
  color: #ffffff;
}
.blockForLabel input~label {
  transition: all 0.3s ease-in-out;
}
.blockForLabel input:focus ~ label,
.blockForLabel input:not(:placeholder-shown) ~ label {
  top: -30px;
  transition: all 0.3s ease-in-out;
}
 .blockForLabel {
  position: relative;
}
.titleItemEdit {
  display: none;
}
.titleItemEdit.active {
  display: inline-block;
}
.spanTitleItem {
  display: none;
}
.spanTitleItem.active {
  display: inline-block;
}
.headerBlock .logoMain {
  width: 20%;
  position: absolute;
  top: 15px;
  left: 15px;
}
.headerBlock.loginForm .logoMain {
  width: 65%;
  position: relative;
  top: initial;
  left: initial;
}

.headerBlock {
  width: 100%;
  display: flex;
  justify-content: center;
}
.headerBlock {
  width: 100%;
  display: flex;
}
.btnLogout {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #000 !important;
}
.LoginForm {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.LoginForm .btnFlipRegister, .LoginForm .btnRegister {
  width: 100%;
  border-radius: 5px;
  padding: 8px 0 11px 0;
}
.LoginForm .btnRegister {
  margin-bottom: 15px;
}
.LoginForm .btnFlipRegister {
  border: 1px solid #000;
  background: white;
  color: #000
}
.modalMenuWeek {
  position: absolute;
  height: auto;
  width: 90%;
  max-width: 700px;
display: none;
  top: 20px;
  top: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 7px;
  background: #ffffff;
  z-index: 20;
  border-radius: 5px;
  border: 2px solid #c9c9c9;
  z-index: 20;
  padding: 20px;
}
.modalMenuWeek.active {
  display: block;
}
.labelModal {
  text-wrap: nowrap;
  margin-right: 10px;
}
.inputModal {
  padding: 5px;
  width: 100%;
}
.inputModal.error {
  border: 1px solid red;
}
.popularIngredientsListBlock .inputModal{
  margin-top: 5px;
}
.popularIngredientsListBlock input {
  border: none;
  border-bottom: 1px solid #000;
}
.inputModal.first {
  margin-right: 10px;
}
.backModal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 0.2);
  z-index: 10;
}
.backModal.active {
  display: block;
}
.ingredientsList {
  padding: 0;
  list-style-type: none;
  font-size: 15px;
}
.ingredientTitle {
  font-weight: 600;
  margin-right: auto;
}
.ingredientsList li {
  display: flex;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #cecece;
}
.ingredientsList span {
  font-weight: 600;
}
.btnEdit {
  margin-right: 15px;
}
.menuIncludeItem .deleteIngredient{
  top: -2px;
}
.menuIncludeItem {
    display: flex;
    justify-content: space-between;
}
.btn {
  background-color: #3182ce;
  color: white;
  padding: 0px 7px 4px 7px;
  z-index: 30;
}
.searchInput {
  margin-right: 15px;
  padding: 5px;
  background: inherit;
  color: white;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  padding-left: 32px;
}
.searchLabel {
  margin: 0 20px;
}
.btnClose {
  position: absolute;
  right: 35px;
  top: 35px;
  padding: 0px 7px 4px 7px;
}
.ingredientsItem {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.ingredientsList {
  width: 100%;
}
.ingredientsList .ingredientsItem input:last-child {
  width: 45%;
}
.ingredientsList .ingredientsItem span {
  white-space: nowrap;
  margin: 0 10px;
}
.inputNewIngredient {
  display: none;
}
.inputNewIngredient.active {
  display: block;
}
.popularIngredientsToggle {
  position: absolute;
}
.popularIngredientsList {
  display: none;
  width: 100%;
  position: absolute;
  max-height: 400px;
  max-width: 700px;
  overflow: auto;
  left: 0;
  top: 20px;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  padding: 7px;
  background: #ffffff;
  z-index: 20;
  border-radius: 5px;
  border: 2px solid #c9c9c9;
}
.btnAddNewIngredient {
  margin-top: 15px;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
}
.popularIngredientsListMain {
  position: relative;
  column-count: 2;
  column-gap: 20px;
  max-height: 100%;
  max-width: 700px;
  top: 0px;
  gap: 5px;
  list-style-type: none;
  padding: 7px;
  background: #000;
  z-index: 20;
  border-radius: 5px;
  z-index: 20;
  padding: 15px;
  border-radius: 15px;
  overflow: auto;
}
.popularIngredientsListMain li {
    min-height: 25px;
    break-inside: avoid;
    page-break-inside: avoid;
    width: 100%;
    border: 2px solid #373737;
    border-radius: 5px;
    color: white;
}
.popularIngredientsList li {
    margin-bottom: 5px;
    padding: 0px 6px;
    background-color: #f3f3f3;
    border-radius: 5px;
    border: 2px solid #cecece;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
.popularIngredientsList li:hover {
  background-color: #606060;
  color: white;
  transition: all 0.3s ease-in-out;
}
.popularIngredientsListMain.active {
  display: grid;
}
.popularIngredientsList.active {
    display: block;
}
.popularIngredientsListBlock {
  padding: 15px;
  width: 100%;
  max-width: 700px;
  top: 20px;
  top: 20px;
  top: 50%;
  left: 50%;
  background: #ffffff;
  z-index: 20;
  border-radius: 15px;
  z-index: 20;
  background: var(--gray);
}
.popularIngredientsListBlock.active {
  display: block;
}
.popularIngredientItem {
  text-wrap: nowrap;
  position: relative;
  padding: 0 15px;
}
.deleteIngredient {
  position: absolute;
  padding: 0px 6px;
  right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.btnIngredientMain {
  margin-right: 10px;
}
.btnBlockUpdateDelete {
  margin-top: 15px;
}
.labelMenuWeekAdd {
  margin-right: 10px;

}
.modalUserProfileBack {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
}
.modalUserProfileBack.show {
  display: block;
}
.blockForLabel .input-reset {
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    padding-left: 32px;
    background: var(--gray);
    border: none;
    color: white;
    outline: none;
    /* padding-top: 3px; */
    border-bottom: 1px solid #000;
}

.flexBlockInputAdd {
    display: flex;
    position: relative;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 7px 15px;
    background-color: var(--gray);
}
.flexBlockInputAdd i {
  color: white
}
.menuWeekItemTitle .input-reset {
  display: none;
}
.menuWeekItemTitle .input-reset.active {
  display: inline-block;
  width: auto;
  border-bottom: 1px solid #ffffff;
}
.input-reset {
  margin-right: 10px;
  width: 100%;
  padding-left: 32px;
  background: inherit;
  border: none;
  color: white;
  outline: none;
  padding-top: 3px;
  border-bottom: 1px solid #000;
}
.inputMenuWeekAdd {
  margin-right: 10px;
  width: 100%;
  padding-left: 32px;
  background: inherit;
  border: none;
  color: white;
  outline: none;
  padding-top: 3px;
  border-bottom: 1px solid #000;
}
.btn-gradient {
  background: linear-gradient(135deg, #bd1ec9 0%, #ff6b9d 100%);
}
.btn-gradient-blue {
    background: linear-gradient(135deg, #431ec9 0%, #ab6bff 100%) !important;
    color: white !important;
}
.tabsBlock .btn {
  border: 1px solid #fff
}
.tabsBlock .btn:first-child {
  margin-right: 10px;
}
.btnPopularIngredients  {
   background-color: #e5e5e5;
   padding: 2px 9px 5px 9px;
   border-radius: 5px;
   margin-right: 10px;
   cursor: pointer;
 }
 .newStepArea {
  width: 100%;
 }
 .stepsList {
  padding: 0;
 }
 .stepsList li{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
 }
 .stepsList li textarea{
   margin-right: 10px;
   height: 51px;
 }
 .stepEditArea {
  width: 100%;
 }
 .tabsBlock {
    background-color: #000000;
    padding: 10px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    border-top: 1px solid white;
}
.searchInputAbsolute {
  position: absolute;
  left: 23px;
  top: 50%;
  transform: translate(-0%, -50%)
}
.btnAllMenu {
  margin-right: 10px;
  background-color: inherit;
  border: none !important;
  padding: 5px;
}
.btnAllMenu.active {
  outline: none;
  color: white;
}
.btnAllMenu .underTitleTabs {
  color: #a5a5a5;
}
.btnAllMenu.active i, .btnAllMenu.active .underTitleTabs{
  color: white;
}
.underTitleTabs {
  font-size: 14px;
}
.modalMenuWeekBack {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0 0 0 / 0.2);
    z-index: 10;
}
.modalMenuWeekBack.active {
  display: block;
}
.menuWeek .recipeList .recipeList {
  gap: 10px
}
.modalMenuWeek {
  position: absolute;
  height: auto;
  width: 90%;
  max-width: 700px;
  display: none;
  top: 20px;
  top: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 7px;
  background: #ffffff;
  z-index: 20;
  border-radius: 5px;
  border: 2px solid #c9c9c9;
  z-index: 40;
  padding: 20px;
}
.modalMenuWeek.active {
  display: block
}
.headerBlock .logoMain {
  display: none;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  display: inline-block;
  border: 4px solid #6ebeff;
  box-sizing: border-box;
  animation: fill 2s linear infinite alternate;
  color: rgba(51, 122, 183, 0.9);
  border-radius: 0 0 4px 4px;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border: 4px solid #6ebeff;
  width: 20px;
  height: 25px;
  border-radius: 0 4px 4px 0;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 inset;
  }

  100% {
    box-shadow: 0 -48px inset;
  }
}
 @media(min-width: 1024px) {
    .popularIngredientsListBlock {
      padding: 30px;
    }
 }
 @media(max-width: 992px) {
   .recipeList {
     grid-template-columns: 1fr 1fr;
   }
}

@media(max-width: 768px) {
  .recipeList {
    grid-template-columns: 1fr;
  }
  .flexBlock {
    display: block;
  }
  .labelModal {
    margin-right: 0;
  }
  .spanUnit {
    display: none;
  }
  .modalRecipe {
    position: fixed;
    top: 10%;
    left: 5%;
    transform: translate(0px, 0px);
  }
    .btnIngredientMain {
      margin-right: 10px;
    }
    .tabsBlock {
      bottom: 0;
      top: auto;
    }
  
}

@media(max-width: 500px) {
  .btnAddRecipeMain {
    margin-left: 0px;
  }
    .headerBlock .logoMain {
      display: block;
    }
    .popularIngredientsListMain {
      column-count: auto;
      column-gap: 0px;
    }
    .popularIngredientsListMain li {
      margin-bottom: 5px;
    }
}