#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.mr-5px {
  margin-right: 5px;
}
.mb-5px {
  margin-bottom: 5px;
}
.mb-15px {
  margin-bottom: 15px;
}
.mr-15px {
  margin-right: 15px;
}
.mt-15px {
  margin-top: 15px;
}
.ml-15 {
  margin-left: 15px;
}
.j-center{
  justify-content: center;
}
.listReset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.searchInput {
  max-width: 500px;
  width: 100%;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
.modalRecipe {
  position: fixed;
  z-index: 11;
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
  padding: 35px 35px 60px 35px;
  padding-top: 65px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btnAddRecipeMain {
  margin-left: 15px;
}
.recipeList {
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
}
.descItem {
  margin-right: 5px;
}
.recipeItem {
  padding: 20px;

  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
    
}
.descItem {
  font-weight: bold;
  text-align: left;
}
.flexBlock {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}
.spanUnit {
  margin: 0 10px;
  text-wrap: nowrap;
}
.btndelete {
  padding: 0px 7px 4px 7px;
  margin-left: 10px;
}
.btnUpdate {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
}
.btnadd {
  padding: 0px 7px 4px 7px;
  margin-left: 10px;
}
.labelModal {
  text-wrap: nowrap;
  margin-right: 10px;
}
.inputModal {
  padding: 5px;
  width: 100%;
}
.inputModal.error {
  border: 1px solid red;
}
.popularIngredientsListBlock .inputModal{
  margin-top: 5px;
}
.inputModal.first {
  margin-right: 10px;
}
.backModal {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 0.2);
  z-index: 10;
}
.backModal.active {
  display: block;
}
.ingredientsList {
  padding: 0;
  list-style-type: none;
  font-size: 15px;
}
.ingredientsList span {
  font-weight: 600;
}
.btnEdit {
  margin-right: 15px;
}
.btn {
  background-color: #606060;
  color: white;
}
.searchInput {
  margin-right: 15px;
  padding: 5px;
}
.searchLabel {
  margin: 0 20px;
}
.btnClose {
  position: absolute;
  right: 35px;
  top: 35px;
  padding: 0px 7px 4px 7px;
}
.ingredientsItem {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}
.ingredientsList {
  width: 100%;
}
.ingredientsList .ingredientsItem input:last-child {
  width: 45%;
}
.ingredientsList .ingredientsItem span {
  white-space: nowrap;
  margin: 0 10px;
}
.inputNewIngredient {
  display: none;
}
.inputNewIngredient.active {
  display: block;
}
.popularIngredientsList{
  position: absolute;
}
.popularIngredientsToggle {
  position: absolute;
}
.popularIngredientsList {
    display: none;
    top: 20px;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    padding: 7px;
    background: #ffffff;
    z-index: 20;
    border-radius: 5px;
    border: 2px solid #c9c9c9;
  }
.popularIngredientsListMain {
  position: relative;

  column-count: 2;
  column-gap: 20px;
 
  max-width: 700px;
  top: 0px;
  gap: 5px;
  list-style-type: none;
  padding: 7px;
  background: #ffffff;
  z-index: 20;
  border-radius: 5px;
  border: 2px solid #c9c9c9;
  z-index: 20;
}
.popularIngredientsListMain li {
  min-height: 25px;
  break-inside: avoid;
  page-break-inside: avoid;
  width: 100%;

  border: 1px solid #cecece;
  border-radius: 5px;
}
.popularIngredientsList li {
    padding: 0px 6px;
    background-color: #f3f3f3;
    border-radius: 5px;
    border: 2px solid #cecece;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
.popularIngredientsList li:hover {
  background-color: #606060;
  color: white;
  transition: all 0.3s ease-in-out;
}
.popularIngredientsListMain.active {
  display: grid;
}
.popularIngredientsList.active {
    display: grid;
}
.popularIngredientsListBlock {
  position: absolute;
    height: auto;
    width: 100%;
    max-width: 700px;
    display: none;
    top: 20px;
    top: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7px;
    background: #ffffff;
    z-index: 20;
    border-radius: 5px;
    border: 2px solid #c9c9c9;
    z-index: 20;
    padding: 30px
}
.popularIngredientsListBlock.active {
  display: block;
}
.popularIngredientItem {
  text-wrap: nowrap;
  position: relative;
  padding: 0 15px;
}
.deleteIngredient {
  position: absolute;
  padding: 0px 6px;
  right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.btnIngredientMain {
  margin-right: 10px;
}
.btnPopularIngredients  {
   background-color: #e5e5e5;
   padding: 2px 9px 5px 9px;
   border-radius: 5px;
   margin-right: 10px;
   cursor: pointer;
 }
 @media(max-width: 992px) {
   .recipeList {
     grid-template-columns: 1fr 1fr;
   }
}

@media(max-width: 768px) {
  .recipeList {
    grid-template-columns: 1fr;
  }
  .flexBlock {
    display: block;
  }
  .labelModal {
    margin-right: 0;
  }
  .spanUnit {
    display: none;
  }
  .modalRecipe {
    position: fixed;
    top: 10%;
    left: 5%;
    transform: translate(0px, 0px);
  }
    .btnIngredientMain {
      margin-right: 10px;
    }
  
}

@media(max-width: 500px) {
  .btnAddRecipeMain {
    margin-left: 0px;
  }
    .popularIngredientsListMain {
      column-count: 1;
      column-gap: 0px;
    }
    .popularIngredientsListMain li {
      margin-bottom: 5px;
    }
}